# Ignore Python virtual environments
venv/
.env
bin/
lib/
include/
pyvenv.cfg

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and temporary files
*.log
*.tmp
*.swp

# Ignore IDE/editor-specific files
.idea/
.vscode/
*.iml

